* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.Color_Solido {
    font-size: 10px;
    width: 100%;
    height: 58em;
    background-color: #6A143D;
    
    margin-top: 5em; /*opcional*/
}

.Box_1 {                
    font-size: 1.4em;
    color: #ffffff;
    margin-left: 20em;
}

.titulo {         /*Se refiere al titulo de "Alumnos"*/
    padding-top: 0.8em;
    padding-bottom: 0.6em;
}

.Box_2 table{     /*el contenido de aca se que do en el centro*/
    margin-left: 5em;
    width: 50em;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
        
}

th, td{                /*Propiedades del texto*/
    border: solid 1px #ffffff;
    padding: 0.4em;
    color: #ffffff;
    font-weight: 900;
}

.Name{               /*nombres del lado derecho*/
    text-align: left;
}


